<div class="contacttitle" style="margin-top:50px"><span class="glyphicon glyphicon-user"></span> CONTACT TO US</div>
<dl>
  <hr width="50%">
  <dt class="contactfb"><span class="glyphicon glyphicon-thumbs-up"></span> Facebook</dt>
  <dd>- My group facebook.</dd>
  <hr width="20%" style="margin-left:0px">
  <dt class="contactphone"><span class="glyphicon glyphicon-earphone"></span> Call us</dt>
  <dd>- My group phone number</dd>
  <hr width="20%" style="margin-left:0px">
  <dt class="contactmail"><span class="glyphicon glyphicon-envelope"></span> Send email</dt>
  <dd>- My group gmail</dd>
</dl>
<div>
