
<div id="footer">
    <div class="bottitle">WELCOME TO P2QCHAT</div>
    <div class="row">
        <div class="col-sm-3 col-md-6" style="padding-left:180px; text-align:left">
            <div class="bottitles">
                <span class="glyphicon glyphicon-question-sign"></span>
                SOME QUESTIONS</div>
            <dl>
                <dt class="botspan">
                    <span class="glyphicon glyphicon-sort-by-attributes"></span>
                    What are the rules?</dt>
                <dd>- Some rules.</dd>
                <dt class="botspan">
                    <span class="glyphicon glyphicon-ban-circle"></span>
                    Why are you banned?
                </dt>
                <dd>- Why?</dd>
                <dt class="botspan">
                    <span class="glyphicon glyphicon-camera"></span>
                    How to open your Webcam and Microphone?</dt>
                <dd>- How?</dd>
            </dl>
        </div>
        <div class="col-sm-9 col-md-6" style="padding-left:180px;text-align:left">
            <div class="bottitles">
                <span class="glyphicon glyphicon-user"></span>
                CONTACT US</div>
            <dl>
                <dt class="botspan">
                    <span class="glyphicon glyphicon-thumbs-up"></span>
                    Facebook</dt>
                <dd>- My group facebook.</dd>
                <dt class="botspan">
                    <span class="glyphicon glyphicon-earphone"></span>
                    Phone Number</dt>
                <dd>- My group phone number</dd>
                <dt class="botspan">
                    <span class="glyphicon glyphicon-envelope"></span>
                    Gmail</dt>
                <dd>- My group gmail</dd>
            </dl>
        </div>
    </div>
</div>
