<div class="boderline">
  <div class="headertable">List User Online</div>
  <table align="center" id="tablecustom">
  <tr>
    <td>
    <a href=""><img class="photouser" width="40" height="40" src="images/image.png"><span class="username"> Phuoc Tran</span></a>
    <div>Junior at US</div>
    </td>
  </tr>
  <tr>
    <td>
      <a href=""><img class="photouser" width="40" height="40" src="images/image.png"><span class="username"> Huynh Quang</span></a>
      <div>Junior at US</div>
    </td>
  </tr>
 </table>
</div>
