<div class="borderline">
<div class="headertable">
<a ui-sref="room"> ChatRoom </a> >> {{roomName}}</div>
<table class="controls" ng-keypress="enter($event)" tabindex="1" cellspacing="0" cellpadding="0" border="0">
    <tr>
        <td colspan="3">
            <div class="chatbox" id="chatbox">
                <ul>
                    Getting data, just wait for a while ...
                </ul>
            </div>
          </td>
    </tr>
    <tr>
      <td  colspan="3">
      <div class="videoBorder" ng-show="(isLogged && accepted) || videosID.length !== 0">
        <div class="clientVideo own" ng-show="hasCamera">
          <video volume="0" class="videoContainer" height="200" width="200px" id="mycamera" autoplay="autoplay" style=""></video>
          <img ng-src="{{photoURL}}" class="btn"></img>

          <!-- <div class="btn videoPauseBtn"></div>
          <div class="btn muteBtn"></div> -->
        </div>
          <div class="clientVideo" ng-repeat="id in videosID">
              <div class="videoContainer">
                  <canvas class="cameraCanvas" ng-attr-id="{{'canvas_'+id}}"></canvas>
                  <video class="videoCanvas"ng-attr-id="{{'video_'+id}}" style=""></video>
                  <img ng-attr-id="{{'photo_'+id}}" class="btn"></img>
              </div>
          </div>
          <div class="clear"></div>
      </div>
    </td>
    </tr>
    <tr ng-show="isLogged">
        <td width="76%">
            <input type="text" class="messageInput" ng-model="message" placeholder="Enter your message..." />
        </td>
        <td width="20%">
            <input type="file" value="" ng-model="image" name="pic" id="picture" accept="image/*">
        </td>
        <td width="5%">
            <input type="submit" ng-click="send()" value=">" />
        </td>
    </tr>
    <tr>
      <td></td>
        <!-- <td class="cncount">Current Users: {{numberGuest}} {{isLogged}}</td> -->
    </tr>
</table>

<audio id="notifysound">
    <source src="sound.ogg" type="audio/ogg"> Your browser does not support the audio element.
</audio>
<div>
