<div class="contacttitle" style="margin-top:50px"><span class="glyphicon glyphicon-user"></span> CONTACT TO US</div>
<dl>
    <hr width="50%">
    <dt class="contact"><span class="glyphicon glyphicon-thumbs-up"></span> Facebook</dt>
    <dd><a href="https://www.facebook.com/groups/1705171679748554">- My group facebook.</a></dd>
    <hr width="20%" style="margin-left:0px">
    <dt class="contact"><span class="glyphicon glyphicon-earphone"></span> Call us</dt>
    <dd>- 01666473304</dd>
    <dd>- 01202985950</dd>
    <dd>- 0966618330</dd>
    <hr width="20%" style="margin-left:0px">
    <dt class="contact"><span class="glyphicon glyphicon-envelope"></span> Send email</dt>
    <dd>- huuphuoc3304@gmail.com</dd>
    <dd>- lenguyenhoaiphu@gmail.com</dd>
    <dd>- snoobvn@gmail.com</dd>
</dl>
<div>
