<div class="row">
	<div>
	<div class="col-sm-12">
		<a><image src="images/chat.png" alt="logo"></a>
	<div> <h2><strong>Nhu cầu trò chuyện "chat" online hiện nay đang là nhu cầu phổ biến nhất của người dùng sử dụng các mạng xã hội. Do đó, Nhóm P2Q của chúng tôi đã tạo ra website ứng dụng Chat này!!!</strong></h2></div>
	</div>
	
	</div>
	
	<hr width="70%" size="50px" align="center" /> 
	
	<div>
		<div class="col-sm-6">
			<a><image src="images/chuc nang.png" alt="logo" width="40" height="40"></a>
			<div><h4><strong>Các chức năng chính của ứng dụng: </strong></h4></div>
			<ul style="list-style-type:disc">
				<li>Tạo nhóm, chat theo nhóm</li>
				<li>Chat riêng từng user hiện đang online</li>
			</ul>
		</div>
		<div class="row-sm-6">
			<a><image src="images/help.png" alt="logo" width="40" height="40"></a>
			<div><h4><strong>Hướng dẫn sử dụng: </strong></h4></div>
			<ul style="list-style-type:disc">
				<li>Để sử dụng được dịch vụ chat của ứng dụng, người dùng bắt buộc phải đăng nhập bằng tài khoản facebook</li>
			</ul>
		</div>
	</div>
		

</div>